.banner img {
  display: flex;
  position: sticky;
  width: 100%;
}

h3 {
  display: flex;
  color: aliceblue;
  position: relative;
  margin-top: 24px;
  margin-left: 43px;
}

h4 {
  color: aliceblue;
  position: relative;
  margin-top: 14px;
  margin-left: 43px;
}
