.banner {
  min-height: 350px;
  background: url('./image/banner.jpg') center center/cover no-repeat;
  color: #fff;
  width: 100%;
  position: relative;
  justify-content: space-between;
}

.bannerText {
  display: inline;
  position: inherit;
  position: fixed;
  z-index: 9;
  margin-top: 14px;
  margin-left: 20px;
  border-radius: 15px;
  padding: 5.5px 11px 5.5px 4px;
  background: rgba(37, 41, 43, 0.904);
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
}
.bannerText span {
  background: rgba(255, 255, 255, 0.151);
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 10px;
  font-weight: 500;
}

.closeBtn {
  width: 25px;
  height: 25px;
  background-color: #25292b;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
  left: 886px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  transform: rotate(45deg);
  position: absolute;
  border-style: none;
}

.closeBtn::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 15px;
  border-radius: 2px;
  background-color: #fff;
}

.closeBtn::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 15px;
  border-radius: 2px;
  background-color: #fff;
  transform: rotate(272deg);
}

h3 {
  display: flex;
  color: aliceblue;
  position: relative;
  margin-top: 24px;
  margin-left: 43px;
}

h4 {
  color: aliceblue;
  position: relative;
  margin-top: 14px;
  margin-left: 43px;
}
